mixin Footer(locals)
    - const footerStyle = {color: 'white', 'font-size': '10px'};
    tr.banner.footer
        td.left
            a(style=footerStyle, href='www.beowulf.com') www.beowulf.com
        td.right
            p(style=footerStyle) beowulf@gmail.com